*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgb(203, 248, 233);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img{
    width: 200px;
    height: 220px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}

.heading-style{
    padding: 70px;
    float: left;
}

h1,h2,h3,h4{
    color: rgb(1, 145, 145);
    font-weight: 500px;
}

.contact-info{
    float: right;
    padding: 70px;
    font-weight: bold;
}
.contact-info a{
    text-decoration: none;
}

.contact-info a:hover{
    color: rgb(252, 76, 45);
    text-decoration: underline;
}

.clear-div{
    clear: both;
}

hr{
    border: solid black 2px;
    width: 100%;
    margin: 20px auto;
}

.right-content{
    width: 70%;
    font-weight: bold;
    float: right;
}

.left-content{
    width: 30%;
    float: left;
}


.second-hr{
    border: solid black 1px;
}

.footer-div{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

.footer-div a{
    color: white;
    text-decoration: none;
    margin: 30px;
}